.row {
    display: flex;
    flex-direction: row;    
}

.char {
    min-width: 4rem;
    min-height: 4rem;
    border-style: ridge;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;    
    margin: 0.2rem;
    border-radius: 10%;
}
